/* mypage.php 의 css입니다. */
.user_id > span {
  text-decoration: underline;
  font-size: 0.9em;
}
.user_table {
  margin-top: 20px;
}
.container {
  /* margin-top:40px; */
  display: flex;
}
.table_title {
  padding: 32px;
}
.table_content {
  padding: 32px 0px 32px 30px;
}
.list-group {
  margin-top: 40px;
  margin-right: 40px;
}
.user_info,
.bookmark_list,
.myReview_list {
  margin-top: 40px;
}
.user_drop {
  margin: 0 auto;
  margin-top: 40px;
}

.modify_userinfo {
  background: red;
}
