.main {
  text-align: left;
}

.main-container {
  margin: 0 auto;
  width: 1200px;
}

.main_title {
  font-size: 5em;
  font-weight: bold;
  color: darksalmon;
}
.main_subtitle {
  font-size: 1.25em;
  margin: 1em 0;
}
.review {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 1200px;
  border: 1px solid black;
  border-radius: 10px;
}

.review > div {
  float: left;
}

.search_title {
  display: inline-block;
  width: 45vw;
  margin-right: 0;
}

.search_submit {
  width: 5em;
  height: 3.4em;
  border-radius: 5px;
  background-color: white;
}

/* review page button */
.search_title_text {
  height: 45px;
  font-size: 2em;
  width: 30vw;
  border-radius: 5px;
}

.search_button_box {
  float: right;
}

.search_button_box button {
  width: 5em;
  height: 3.4em;
}
/*.total {
  float: right;
  margin: 0 auto;
  margin-top: 50px;
  width: 800px;
  border: 1px solid black;
  border-radius: 10px;
}*/